.bg {
  background-image: url(../images/bg1.svg);
  background-size: cover;
}

header {
  width: 100%;
  height: 8rem;
  align-items: center;
}

.img-h {
  height: 3rem;
}

main {
  height: 100vh;

  & .card {
    width: 30rem;
    height: 100%;
  }
}

form {
  width: 100%;
}

label,
input {
  display: block;
  color: $grey;
}

.title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

input {
  width: 100%;
  height: 2.8rem;
  margin-bottom: 0.8rem;
  outline: none;

  &.margin {
    margin-bottom: 2rem;
  }

  &.border {
    border-bottom: 0.1rem solid $grey;
  }
}

.button {
  font-size: 1rem;
  font-weight: 600;
  color: $white;
  border-radius: 0.2rem;
  transition: 800ms all;
}

.black {
  background-color: $black;
  transition: 800ms all;

  &:hover {
    background-color: $grey;
    cursor: pointer;
  }
}

.orange {
  background-color: #ff5b02;
  transition: 800ms all;

  &:hover {
    background-color: $grey;
    color: $white;
    cursor: pointer;
  }
}

.flex {
  width: 100%;
  height: 75vh;
}

h4 {
  margin-inline-start: 0.5rem;
}

.warning {
  width: 100%;
  height: 2rem;
  border: 0.1rem solid red;
  border-radius: 0.3rem;
  background-color: rgba(255, 0, 0, 0.164);
  color: red;
  align-items: center;
  padding: 1.3rem;
}

.m{
  margin-right: 0.4rem;
}

@import "./animation";
