*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html,
body{
    width: 100%;
    height: 100vh;
}

.content{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:'a b';
    height: 100vh;

    & main{
        grid-area: 'a';

        & section{
            grid-area: 'b';
        }
    }
}

$grey: #303030;

@import './parameters';



